name: Sync Fork

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout fork repo
        uses: actions/checkout@v3

      - name: Add upstream
        run: git remote add upstream https://github.com/han000woo/data-lab.git

      - name: Fetch upstream and merge
        run: |
          git fetch upstream
          git checkout main
          git merge upstream/main --allow-unrelated-histories --strategy-option=ours
          # workflow 파일 유지
          git checkout HEAD .github/workflows/sync.yml

      - name: Push changes
        env:
          TOKEN: ${{ secrets.PAT_TOKEN }} # 포크 레포에 push하려면 여전히 필요
        run: |
          git push https://x-access-token:${TOKEN}@github.com/sessac-codingstudy/sunwoo-data-lab.git main

